$cWhite: #fff;
$cBlack: #000;
$cOrange: #F47C29;
$cLightGreen: #50a54c;
$cDarkGreen: #046e3d;
$cBlue: #005366;
$cDarkGray: #333333;
$cMidGray: #403e3c;
$cBGMidGray: #a89b94;
$cBGLightGray: #c2b7af;
$cTextGray: #767371;
$cTextFooterGray: #C2B7AF;
$cFormSectionBG:#dfdfdf
