/**
 * Width variables for different screen size
 */
$wExtend: 1200px;
$wDesktop: 992px;
$wTablet: 768px;
$wMobile: 320px;

$fontFamily: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;

$nProgressHeight:60px;
$nFieldHeight:42px;

