@import 'includes/colors';
@import 'includes/variables';
@import 'includes/mixins';

/**
 * ****************************************************************
 * COMMON CLASSES *************************************************
 * ****************************************************************
 */
html{
    min-height: 100vh;
}
body.cc-body{
    background-color:$cBlue;
    min-height: 100vh;
    font-family: $fontFamily;
    color:$cTextGray;

    a{
        color:$cTextGray;
    }
}
.max-width{
    max-width: $wExtend;
    margin:0 auto;
}
/**
 * ****************************************************************
 * HEADER *********************************************************
 * ****************************************************************
 */
.cc-header{
    background-color: $cWhite;
    padding:1em 0;

    .cc-logo{
        max-width:220px;
        float:none;
        margin:0 auto;
        padding-left:50px;/// to center the logo when menu-switch is visible
        padding-top:7px;
        @media screen and (min-width:$wTablet){
            float:left;
            max-width:250px;
            padding-left:0;
        }
        img{
            display: block;
            width:100%;
        }
    }
    .cc-menu{
        float:right;
        display: none;
        @media screen and (min-width:$wTablet){
            display:block;
        }
        ul{
            display: table;
            width:auto;
            list-style: none;
            padding-top:15px;

            li{
                margin-right:2em;
                vertical-align: middle;
                display: inline-block;

                &:last-child{
                    margin-right: 0;
                }
            }
        }
    } //// .cc-menu

    .cc-menu-switch{
        display: block;
        width:50px;
        height: 50px;
        float:left;

        @media screen and (min-width:$wTablet){
            display: none;
        }
    }

}//// .cc-header

/**
 * ****************************************************************
 * PROGRESS BAR ***************************************************
 * ****************************************************************
 */
.ss-progress{
    height: $nProgressHeight;
    max-height: $nProgressHeight;
    overflow: hidden;
    background-color:$cBGMidGray;
    width:100%;

    @include mxTransition(max-height, 0.8s, ease-out);

    &.float{
        padding-bottom:$nProgressHeight;
        .container{
            width:100%;
            position:fixed;
            top:0;
            z-index: 1000;
        }

    }
    &.expanded{
        height: auto;
        max-height: 1000px;

        li{
            display: block;
            &.active{
                background-color:$cOrange!important;
            }

            border-bottom:1px solid $cBGLightGray;

            &:last-child{
                border-bottom: none;
            }
        }
    }//// ss-progress.expanded
    .container{
        position:relative;
        padding:0;
        @media screen and (min-width:$wTablet){
            padding:0 15px;
        }
    }
    ul{
        list-style:none;

        li{
            display:block;
            float:left;
            width:100%;
            display: none;
            height: $nProgressHeight;
            color:$cWhite;
            background-color:$cBGMidGray;


            @media screen and (min-width:$wTablet){
                width:0% + 100%/7%;
                border-right: 1px solid $cWhite;
                border-bottom:none;
                display: block;
            }

            &.active{
                background-color:$cMidGray;
                display: block;
                @media screen and (min-width:$wTablet){
                    background-color:$cOrange;
                }
            }
            &.done{
                background-color:$cMidGray;
            }

            &:first-child{
                @media screen and (min-width:$wTablet){
                    border-left: 1px solid $cWhite;
                }
            }

            a{
                text-align: center;
                width:100%;
                height: $nProgressHeight;
                display: block;
                color:$cWhite;
                text-decoration: none;
                padding:0 2px;
                @include mxTransition(all, 0.2s, ease-out)
                span{
                    display: block;
                    @include mxVerticalAlign();
                }

                &:hover{
                    color:$cTextGray;
                }
            }
        }//// li
    }//// ul
    .switch{
        display: block;
        width:100%;
        height:$nProgressHeight;
        text-align: right;
        color:$cWhite;
        line-height: $nProgressHeight;
        position:absolute;
        padding-right:20px;
        right:0;
        z-index: 2;
        @media screen and (min-width:$wTablet){
            display: none;
        }
    }
}//// .ss-progress

/**
 * ****************************************************************
 * FOOTER *********************************************************
 * ****************************************************************
 */
.cc-footer{
    background-color:$cMidGray;
    padding:2em 0;
    // margin-bottom:2em;

    .cc-footer-links{
        padding-bottom:1em;
        ul{
            list-style: none;
            display: table;
            width:auto;
            margin:0 auto;
            li{
                display: block;
                float:left;
                margin-right: 1em;
                &:last-child{
                    margin-right: 0;
                }
            }
            a{
                text-decoration: none;
            }
            a:hover{
                color:$cBGMidGray;
            }
        }
    }//// .cc-footer-links

    .cc-footer-row{
        font-size:0.8em;
        position:relative;
        p{
            text-align: justify;
        }
        a{
            color:$cOrange;
        }
        .logos{
            padding-bottom:1em;
        }
        .left{
            float:left;
            margin-left:10%;
            @media screen and (min-width:$wTablet){
                position:absolute;
                right:100%;
                bottom: 10px;
            }
        }
        .right{
            float:right;
            margin-right:10%;
            @media screen and (min-width:$wTablet){
                position:absolute;
                left:100%;
                bottom: 10px;
            }
        }
    }
}//// .cc-footer

/**
 * ****************************************************************
 * MAIN CONTENT ***************************************************
 * ****************************************************************
 */
.cc-content{
    padding:2em 0;

    .cc-content-inner{
        max-width:100%;

        @media screen and (min-width:$wTablet){
            max-width:800px;//60%;
            margin:0 auto;
        }
    }//// .cc-content-inner
}//// .cc-content

/**
 * ****************************************************************
 * Box ************************************************************
 * ****************************************************************
 */
.cc-box{
    background-color:$cWhite;
    padding:1em;
    margin-bottom: 2em;
    @include mxRoundCorners(3px);

    &:last-of-type{
        margin-bottom: 0;
    }

}//// .cc-box

.cc-message{
    padding-top:2em;
    position:relative;
    p{
        margin:0;
    }
    .close{
        display: block;
        width:30px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        position:absolute;
        top:2px;
        right:2px;
        color:$cTextGray;
        font-size:0.9;
    }
}//// .cc-message

.cc-form{

    .cc-field{
        margin-bottom: 12px;
        position:relative;

        input, textarea, select, option{
                font-size:16px;/// fixing the iphone zoom issue
        }

        label{
            display: block;
            font-weight:400;
            margin-bottom: 1px;
            color:$cBGMidGray;
            font-size:11px;
            font-weight: 600;
            text-transform: uppercase;

            i{
                // visibility: hidden;
                font-size: 1em;
                // display: none;
                vertical-align: baseline;
            }
        }

        input[type="text"],
        input[type="password"],
        input[type="number"],
        input[type="date"]{
            border:1px solid $cBGMidGray;
            padding:0 15px;
            height: $nFieldHeight;
            line-height: $nFieldHeight;
            width:100%;

            @include mxRoundCorners(3px);

            &:focus{
                background-color: #f7f7f7;
            }
        }

        select{
            display: block;
            border:1px solid $cBGMidGray;
            padding:0 0 0 15px;
            height: $nFieldHeight;
            line-height: $nFieldHeight;
            width:100%;
            // height: auto;
            @include mxRoundCorners(3px);
        }

        button,
        input[type="button"],
        .cc-btn{
            // display: block;
            width:auto;
            padding:0 1em;
            border:none;
            background-color:transparent;
            // border:1px solid $cMidGray;
            height: $nFieldHeight;
            line-height: $nFieldHeight;
            @include mxRoundCorners(3px);
            @include mxTransition(all, 0.3s, ease-out);
            text-transform: uppercase;
            &:hover{
                color:$cOrange;
                border-color:$cOrange;
            }

            &.gray{
                background-color:$cMidGray;
                color:$cWhite;
                &:hover{
                    color:$cOrange;
                    border-color: $cMidGray;
                }
            }

            &.green{
                background-color:$cLightGreen;
                color:$cWhite;
                &:hover{
                    background-color:$cDarkGreen;
                    // color:$cOrange;
                    // border-color: $cMidGray;
                }
            }
        }//// button

        &.cc-buttons{
            button, .cc-btn{
                display: block;
                // clear:both;
                margin-bottom:1em;
                min-width:150px;
                margin-right:1em;

                &:first-of-type{
                    margin-right: 0;
                }
            }
            &:after{
                display: block;
                content:" ";
                clear: both;
            }
            &.right{
                 button, .cc-btn{
                    float:right;
                 }
            }
            &.more-padding{
                padding-top:4em;
            }
        }//// &.cc-buttons

        .message{
            display: none;
            max-width:280px;
            background-color:$cOrange;
            color:$cWhite;
            text-align: center;
            font-size:11px;
            position:absolute;
            bottom:43px;
            padding:0 5px;
            height: 20px;
            line-height: 20px;
            right:0;
            @include mxBorderRadius(3px, 3px, 0, 0);

        }//// message

        .placeholder{
            display: none;
            width:auto;
            height: 42px;
            line-height:42px;
            position:absolute;
            right:0;
            bottom:0;
            padding:0 15px;
            color:$cBGMidGray;
        }//// .placeholder

        &.placeholder{
            .placeholder{
                display: block;
            }
        }
    }//// .cc-field


    .cc-field.error{
        label{
            color:$cOrange;
            .icon-error{
                display: inline-block;
            }
        }
        input[type="text"],
        input[type="password"],
        input[type="number"],
        input[type="date"],
        textarea{
            border-color:$cOrange;
        }
        select{
            border-color:$cOrange;
        }
        .link{
            color:$cOrange;
        }
    }//// .cc-field.error

    .cc-field.correct{
        // label{
        //     color:$cLightGreen;
        //     .icon-correct{
        //         display: inline-block;
        //     }
        // }
        // input[type="text"],
        // input[type="password"],
        // input[type="number"],
        // input[type="date"]{
        //     border-color:$cLightGreen;
        // }
        // .link{
        //     color:$cLightGreen;
        // }
    }

    .cc-field.message{
        input[type="text"],
        input[type="password"],
        input[type="number"],
        input[type="date"],
        textarea,
        select{
            @include mxBorderRadius(3px, 0, 3px, 3px);
        }
    }

    .cc-field.float{
        position:relative;
        padding-top:12px;
        label{
            position:absolute;
            bottom:0;
            left:0;
            opacity:0.5;
            padding:0 15px;
            height: $nFieldHeight;
            line-height: $nFieldHeight;
            font-size:14px;
            font-weight: 400;
            @include mxTransition(all, 0.2s, ease-out);
        }
        input[type="text"]{
            border: none;
            border-bottom: 1px solid $cBGMidGray;
            padding:0 15px;
            @include mxRoundCorners(0);
        }
        &.edited{
            label{
                position:absolute;
                bottom:30px;
                left:0;
                // top:5px;
                opacity:1;
                padding:0;
                font-size:0.75em;
                color:$cBlue;
                font-weight: 700;
            }
        }/// &.edited
    }//// .float

    .cc-form-section{
        padding:1em 1em 1em 1em;
        position:relative;
        background-color:$cFormSectionBG;
        margin-bottom: 1em;
        @include mxRoundCorners(3px);

        .title{
            h5{
                margin:0;
                margin-bottom: 1em;
            }
        }

        .close{
            display: block;
            width:30px;
            height: 30px;
            line-height: 30px;
            text-align: center;
            position:absolute;
            top:2px;
            right:2px;
            color:$cTextGray;
            font-size:0.9;
        }

        .cc-field{
            input[type="text"],
            input[type="password"],
            input[type="number"],
            input[type="date"],
            textarea,
            select{
                border-color:$cWhite;
            }
        }

        a{
            color:$cOrange;
        }
    }//// .cc-form-section

    .cc-dropdown{
        position:relative;
        .message{
            bottom:42px;
        }
        .link{
            display: block;
            width:100%;
            padding:0 15px;
            height: $nFieldHeight;
            line-height: $nFieldHeight;
            background-color:transparent;
            color:$cTextGray;
            position:absolute;
            bottom:0;
            text-align: right;
            background-color:rgba(1, 1, 1, 0);
            z-index:1;

        }

        ul{
            list-style: none;
            display: block;
            width: auto;
            padding:0;
            margin:0;
            position:absolute;
            top:100%;
            z-index:10;
            background-color:$cWhite;
            min-width: 100%;
            max-height: 0;
            overflow: hidden;

            @include mxTransition(max-height, 0.3s, linear);

            li{
                display: block;
                border-bottom: 1px solid $cFormSectionBG;

                &:last-child{
                    border-bottom:none;
                }
                &.active{
                    a{
                        color:$cOrange!important;
                    }
                }

                a{
                    display: block;
                    padding:0 15px;
                    width:100%;
                    height: $nFieldHeight;
                    line-height: $nFieldHeight;
                    text-decoration: none;
                    color:$cTextGray;
                    word-wrap: none;
                    overflow: hidden;
                    &:hover{
                        background-color:$cMidGray;
                        color:$cWhite;
                    }

                }
                &.hover{
                    a{
                        background-color:$cMidGray;
                        color:$cWhite;
                    }
                }

            }/// li

            &.open{
                max-height: 200px;
                @include mxShadow(1px, 1px, 2px, 1px, rgba(150, 150, 150, 0.5));
                overflow: auto;
            }

        }//// ul

    }//// .cc-dropdown

    .cc-radio{
        .radio-group{
            height: 42px;
            padding-top:10px;
            input[type="radio"]{
                display:inline-block;
                width:20px;
                height: 20px;
                opacity: 1;
                position:relative;
                float:left;
                margin-right:10px;
                margin-top:0;


                &:after{
                    display: block;
                    content: " ";
                    width:20px;
                    height: 20px;
                    position:absolute;
                    top:0;
                    left:0;
                    background-color:$cWhite;
                    @include mxRoundCorners(10px);
                    border:1px solid $cTextGray;
                }

                &:checked{
                    &:after{
                        background-color:$cLightGreen;
                        border-color:$cLightGreen;
                    }
                }
            }

            label{
                float:left;
                margin-right:2em;
                display: table;
                width:auto;
                line-height:20px;
                margin-top: 0;
            }
        }//// .radio-group

    }//// .cc-radio
}//// .cc-form

.cc-note{
    text-align: center;
    color:$cWhite;
}//// .cc-note