body{
    background-color: #f00;
}
.cc-form{

    .cc-field{
        select{
            padding-right:0;
        }
        select + label.arrow{
            display: none;
        }
    }///// cc-field

}//// .cc-form

/**
 * ****************************************************************
 * SUPPORT CLASSES ************************************************
 * ****************************************************************
 */
.cc-support{

    .cc-support-panel{
        a.close{
            right:15px;
        }
    }//// support-panel
}//// .cc-support